*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.tudo {
    height: 100vh;
    width: 100%;
    display: flex;
}
.fipli-card{
    width: 00px;
    height: 00px;
    margin: 0%;
    padding: 0%;
}
.fipli-card-front-img{
    max-width: 500px;
}
.fipli-card-black-img{
    max-width: 500px;
}